.product-services {
  width: 100%;
  border-bottom: 1px solid #000;
}
.product-services_two {
  border-bottom: none;
  border-top: 1px solid #000;
}
.product-services__wrapper {
  display: flex;
}
.product-services__wrapper_two {
  flex-direction: row-reverse;
}
@media screen and (max-width: 960px) {
  .product-services__wrapper {
    flex-direction: column;
    padding: 75px 35px;
    box-sizing: border-box;
    gap: 50px;
  }
}
@media screen and (max-width: 690px) {
  .product-services__wrapper {
    padding: 27px 35px;
    gap: 35px;
  }
}
.product-services__item {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 95px 35px;
  box-sizing: border-box;
}
.product-services__item_two {
  align-items: center;
  padding: 135px 35px;
}
@media screen and (min-width: 961px) {
  .product-services__item:first-child {
    border-right: 1px solid #000;
  }
  .product-services__item_two:first-child {
    border-right: none;
  }
  .product-services__item_two:first-child {
    border-left: 1px solid #000;
  }
}
@media screen and (max-width: 1279px) {
  .product-services__item {
    padding: 75px 35px;
  }
  .product-services__item_two {
    align-items: center;
    padding: 115px 35px;
  }
}
@media screen and (max-width: 960px) {
  .product-services__item {
    padding: 0;
    width: 100%;
  }
}
.product-services__text {
  max-width: 690px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media screen and (max-width: 1279px) {
  .product-services__text {
    gap: 35px;
  }
}
@media screen and (max-width: 960px) {
  .product-services__text {
    max-width: 511px;
  }
  .product-services__text_two {
    max-width: 733px;
  }
}
.product-services__text h2 {
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  color: #000;
}
@media screen and (max-width: 1279px) {
  .product-services__text h2 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media screen and (max-width: 690px) {
  .product-services__text h2 {
    font-size: 25px;
    line-height: 26.65px;
  }
}
.product-services__text p {
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #000;
}
@media screen and (max-width: 1279px) {
  .product-services__text p {
    font-size: 25px;
    line-height: 30px;
  }
}
@media screen and (max-width: 690px) {
  .product-services__text p {
    font-size: 16px;
    line-height: 17px;
  }
}
.product-services__pic {
  max-width: 511px;
  width: 100%;
  height: 618px;
}
.product-services__pic_two {
  max-width: 733px;
  width: 100%;
  height: 551px;
}
@media screen and (max-width: 1279px) {
  .product-services__pic {
    height: 550px;
  }
}
@media screen and (max-width: 690px) {
  .product-services__pic {
    height: 311px;
  }
  .product-services__pic_two {
    height: 193px;
  }
}
.product-services__pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*---product-gallery---*/
.product-gallery {
  width: 100%;
}
.product-gallery__wrapper {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .product-gallery__wrapper {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
@media screen and (max-width: 829px) {
  .product-gallery__wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.product-gallery__inner {
  display: flex;
  gap: 90px;
}
@media screen and (max-width: 1280px) {
  .product-gallery__inner {
    gap: 50px;
  }
}
@media screen and (max-width: 1050px) {
  .product-gallery__inner {
    gap: 20px;
  }
}
@media screen and (max-width: 850px) {
  .product-gallery__inner {
    gap: 10px;
  }
}
@media screen and (max-width: 829px) {
  .product-gallery__inner {
    gap: 0;
  }
}
@media screen and (max-width: 810px) {
  .product-gallery__inner {
    width: 810px;
    overflow: auto;
  }
}
.product-gallery__item {
  width: 360px;
  height: 495px;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  padding: 45px 55px;
  box-sizing: border-box;
  gap: 35px;
}
@media screen and (max-width: 1280px) {
  .product-gallery__item {
    width: 300px;
    height: 435px;
    padding: 32px 35px;
  }
}
@media screen and (max-width: 960px) {
  .product-gallery__item {
    width: 270px;
    height: 347px;
    padding: 23px 29px;
    gap: 28px;
  }
}
@media screen and (max-width: 829px) {
  .product-gallery__item {
    border-top: none;
    border-bottom: none;
    border-left: none;
  }
  .product-gallery__item:last-child {
    border-right: none;
  }
}
.product-gallery__pic {
  width: 100%;
  height: 256px;
}
@media screen and (max-width: 960px) {
  .product-gallery__pic {
    width: 210px;
    height: 210px;
  }
}
.product-gallery__pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-gallery__text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.product-gallery__text p {
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  color: #000;
}
@media screen and (max-width: 960px) {
  .product-gallery__text p {
    font-size: 16px;
    line-height: 20.24px;
  }
}
.product-gallery__text span {
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  color: #000;
}
@media screen and (max-width: 960px) {
  .product-gallery__text span {
    font-size: 16px;
    line-height: 20.42px;
  }
}
